<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zaprar</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Griffy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/detalis.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <meta charset="utf-8">
</head>
<body>

<div class="nav">
    <h1 class="nav-title">Zaprar</h1>

    <ul class="nav-list">
        <li><a href="http://127.0.0.1:5000">Home</a></li>
        <li><a href="">Popular</a></li>
        <li><a href="" class="active">Top Rating</a></li>
        </ul>
        <div class="nav-profile">
          <input type="text" placeholder="Search"/>
          <img src="/static/bell 1.png"></img>
          <img src="/static/gift 1.png"></img>
        </div>
</div>
<div class="container">
</div>
</body>
</html>