<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Zaprar</title>
  <meta charset="utf-8">
</head>
<body>

<div class="nav">
    <h1 class="nav-title">Zaprar</h1>

    <ul class="nav-list">
        <li><a href="">Home</a></li>
        <li><a href="">Popular</a></li>
        <li><a href="">Top Rating</a></li>
        </ul>
        <div class="nav-profile">
          <input type="text" />
          <img src="/static/bell 1.png"></img>
          <img src="/static/gift 1.png"></img>
          <img src="/static/Rectangle 22.png"></img>
        </div>
</div>

<div>
  <img src="/static/image 1.png"></img>
  <img src="/static/Movie Wallpaper.png"></img>
</div>

</body>
</html>