<!DOCTYPE html>
<html>
<head>
  <title>Українські приказки по порам року</title>
  <meta charset="utf-8">
<style>
body {
  background-image: url("img_tree.png");
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: times new roman;
}

h2 {
  color: black;
  text-align: center;
  font-family: times new roman;
}

p {
  font-family: times new roman;
  font-size: 20px;
}

ul{
  list-style-type: circle;
}

#winter{color:rgb(127, 218, 252)}
#spring{color:rgb(255, 255, 111)}
#summer{color:rgb(0, 255, 38)}
#autmn{color:rgb(255, 132, 0)}
</style>
</head>
<body>

<h1>Приказки про різні пори року</h1>
<p>
    <a href="#winter">Зима</a>
</p>
<p>
    <a href="#spring">Весна</a>
</p>
<p>
    <a href="#summer">Літо</a>
</p>
<p>
    <a href="#autmn">Осінь</a>
</p>
<h2 id="winter">Зима:</h2>
<ul><li>Багато снігу — багато хліба.</li>
    <li>Був уночі іній — вдень сніг не випаде.</li>
    <li>Вітер у січні зі сходу несе добру погоду.</li>
    <li>Вітер узимку повіяв з півночі — на великий холод.</li>
    <li>Ворона сидить уранці на верховітті і каркає — на завірюху.</li>
    <li>Горобці ховаються у хмиз — на мороз або перед завірюхою.</li>
    <li>Грім узимку — на сильні морози, блискавка — на бурю.</li>
    <li>Зима з снігами — літо з хлібами.</li>
    <li>Зима засніжена — літо дощове.</li>
    <li>Кільця довкола місяця — на сніг.</li>
    <li>Лютий сухий і холодний — серпень спекотний.</li>
    <li>Туман узимку опускається до землі — на відлигу.</li>
    <li>Хмари йдуть проти вітру — на сніг.</li>
    <li>Якщо взимку сухо і холодно, влітку сухо і спекотно</li>
</ul>
<img width="300px" src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Haanja_2010_01_1.jpg">
<h2 id="spring">Весна:</h2>
<ul><li>Весна — наші батько й мати.
    <li>Весна всім красна.
    <li>Весна красна квітками, а осінь — плодами.
    <li>Весняний дощ зайвим не буває.
    <li>Весна днем красна, а на хліб пісна.
    <li>Весна відмикає джерела й річки.
    <li>Побачив шпака у дворі — знай: весна на порі.
    <li>Ранні ластівки — щасливий рік.
    <li>Сонце гріє, сонце сяє — вся природа воскресає.
    <li>Де ластівка не літає, а на весну додому прилітає.
    <li>Весною все ожива, танцює й співа.
    <li>Весна багата на квіти, а хліба в осені позичає.
</ul>
<img width="300px" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Zawilec_gajowy_cm02.jpg">
<h2 id="summer">Літо:</h2>
<ul><li>Бджоли раді цвіту, люди — літу.
    <li>Влітку і качка прачка, а зимою і Тереся не береться.
    <li>Влітку один тиждень рік годує.
    <li>Готуй літом сани, а взимку воза.
    <li>Зима без снігу — літо без хліба.
    <li>Косять порою (літом), а жують зимою.
    <li>Літній день за зимовий тиждень.
    <li>Літо — збериха, а зима — підбериха.
    <li>Літо збирає, а зима підбирає.
</ul>
<img width="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Field_Hamois_Belgium_Luc_Viatour.jpg/800px-Field_Hamois_Belgium_Luc_Viatour.jpg">
<h2 id="autmn">Осінь:</h2>
<ul><li>У листопаді зима з осінню сперечаються.
    <li>Жовтень землю покриє де листком, а де сніжком. У листопаді сонце крізь сльози й «білих мух» посміхається.
    <li>У вересні ложка води робить два болота.
    <li>Весна красна, але голодна; осінь дощова, але ситна.
    <li>Літо дає коріння, а осінь — насіння.
    <li>Хвали літо, коли осінь прийде.
    <li>В осінній час сім погод у нас: сіє, віє, крутить, мутить, припікає, поливає.
    <li>Жовтень ходить по краю та й виганяє пташок з раю.
    <li>Вересень пахне яблуками, а жовтень — капустою.
    <li>Листопадовий день, що заячий хвіст.
</ul>
<img width="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Akiyamago_2005_005.jpg/1920px-Akiyamago_2005_005.jpg">
</body>
</html>