{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
{% block content %}

<div class="nav">
  <h1 class="nav-title">Zaprar</h1>

  <ul class="nav-list">
      <li><a href="http://127.0.0.1:5000/" class="active">Home</a></li>
      <li><a href="">Movie List</a></li>
      <li><a href="">Detalis</a></li>
      </ul>
      {% if current_user.is_authenticated %}
      <a href="/logout">Logout</a>
      {% endif %}
      <div class="nav-profile">
        <input type="text" placeholder="Search"/>
        <a href="/profile"><img src="/static/bell 1.png"></img></a>
        <img src="/static/gift 1.png"></img>
      </div>
</div>

<div class="container">
  <div class="header">
    <div class="descreption">
      <h1>Who I am</h1>
    </div>
    <div class="header-buttons">
      <a href="" class="watch">watch</a>
      <a href="" class="add">Add in my list</a>
    </div>
    <div class="main">
      <img src="/static/image 1.png"></img>
      <img src="/static/Movie Wallpaper.png"></img>
    </div>
  </div>
  
  <div class="upc-title">
    <h1>Upcoming movies</h1>
    <a href="http://127.0.0.1:5000/upcoming" class="show">Show</a>
  </div>
  <div class="upcoming">
    {% for movie in movies %}
    <div class="upc-movie">
      <a href="{{ url_for('main.show_movie_detalis',id=movie.get('id')) }}"><img  src="https://image.tmdb.org/t/p/w200{{movie.get('poster_path')}}"></img></a>
      <h2>{{ movie.get('title') }}</h2>
      <h3>{{ movie.get('release_date') }}</h3>
      <div class="upc-movie-rate">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M923 283.6a260.04 260.04 0 0 0-56.9-82.8 264.4 264.4 0 0 0-84-55.5A265.34 265.34 0 0 0 679.7 125c-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5a258.44 258.44 0 0 0-56.9 82.8c-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3.1-35.3-7-69.6-20.9-101.9z"></path></svg>
        {{ movie.get('vote_average') }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="rec-title">
    <h1>Recomended for you</h1>
    <a href="http://127.0.0.1:5000/popular" class="show">Show</a>
  </div>
  <div class="recomended">
    {% for movie in popular %}
    <div class="rec-movie">
      <a href="{{ url_for('main.show_movie_detalis',id=movie.get('id')) }}"><img  src="https://image.tmdb.org/t/p/w200{{movie.get('poster_path')}}"></img></a>
      <h2>{{ movie.get('title') }}</h2>
      <h3>{{ movie.get('release_date') }}</h3>
      <div class="rec-movie-rate">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M923 283.6a260.04 260.04 0 0 0-56.9-82.8 264.4 264.4 0 0 0-84-55.5A265.34 265.34 0 0 0 679.7 125c-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5a258.44 258.44 0 0 0-56.9 82.8c-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3.1-35.3-7-69.6-20.9-101.9z"></path></svg>
        {{ movie.get('vote_average') }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="top-title">
    <h1>TOP</h1>
    <a href="http://127.0.0.1:5000/popular" class="show">Show</a>
  </div>
  <div class="top">
    {% for movie in popular %}
    <div class="top-movie">
      <a href="{{ url_for('main.show_movie_detalis',id=movie.get('id')) }}"><img  src="https://image.tmdb.org/t/p/w200{{movie.get('poster_path')}}"></img></a>
      <h2>{{ movie.get('title') }}</h2>
      <h3>{{ movie.get('release_date') }}</h3>
      <div class="top-movie-rate">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M923 283.6a260.04 260.04 0 0 0-56.9-82.8 264.4 264.4 0 0 0-84-55.5A265.34 265.34 0 0 0 679.7 125c-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5a258.44 258.44 0 0 0-56.9 82.8c-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3.1-35.3-7-69.6-20.9-101.9z"></path></svg>
        {{ movie.get('vote_average') }}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}