<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zaprar</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Griffy&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <script src="/static/js/jquery.js"></script>

    {% block head %}
        
    {% endblock %}  
</head>
<body>




{% block content %}
    
{% endblock %}
</body>
</html>